body
{
	background-image: url('hatter.png');
	background-repeat: no-repeat;
	font-family: Bahnschrift;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

header
{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

section
{
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.card-text
{
    color: black;
    text-shadow: 0px 0px;
}

footer
{
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

form
{
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

table
{
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px black;
    border-collapse: collapse;
    width: 25%;
}
td, th
{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

thead
{
    text-transform: uppercase;
}

.reszek-kep
{
    width: 700px;
    height: 450px;
}

.reszek-kep2
{
    text-align: center;
}
