body
{
	background-image: url('hatter.png');
	background-repeat: no-repeat;
	font-family: Bahnschrift;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

header
{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

section
{
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.card-text
{
    color: black;
}

footer
{
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

form
{
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px black;
}
